.tooltip {
position: relative;
display: inline-block;
/* border-bottom: 1px dotted black; */
}

.tooltip .tooltiptext1 {
  display: none;
  position: absolute;
}

.tooltip .tooltiptext2 {
  display: none;
  position: absolute;
}
.tooltip .tooltiptext3 {
  display: none;
  position: absolute;
}
.tooltip .tooltiptext4 {
  display: none;
  position: absolute;
}
.tooltip .tooltiptext5 {
  visibility: hidden;
  

  max-height: 200px;
  overflow-y: auto;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px ;
  width: max-content;
  font-weight: normal;
  font-family: Calibri;
  display: block;
  left: 15%;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  
  line-height: normal;
}

@media all and (min-width: 769px) {
  .tooltip .tooltiptext5 {
    
    
    max-width: 300px;
    font-size: 15px;
  }
}

@media all and (max-width: 768px) {
  .tooltip .tooltiptext5 {
    max-width: 200px;
    font-size: 12px;
  }
}
.tooltip .tooltiptext6 {
  display: none;
  position: absolute;
}





.tooltip:hover .tooltiptext5 {
visibility: visible;
}
